<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Photography</h1>
    <br />
    <h1>Videography</h1>
    <br />
    <%= link_to 'Enter', '#', class: 'btn btn-success' %>
    <br />
  </div>
</div> 
 
